@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.otroscontactos {
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.minicontainernav {
  display: flex;
  background-color: rgba(252, 249, 249, 0.959);
  color: black;
  padding: 10px;
  border: solid 5px black;
  border-radius: 20px;
}

.tituloprincipal {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.exclusiones {
  color: red;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn1 {
  transition: background-color 1s steps(9);
  background-color: rgb(250, 250, 250);
  color: black;
  list-style: none;
  text-decoration: none;
  padding: 10px 100px 10px 100px;
  transform: translate(0% 30%);
  transition: 2s;
}

.btn1:hover {
  background-color: rgb(7, 202, 33);
  animation-duration: 5s;
  animation: alternate-reverse;
  border: solid 4px rgb(109, 109, 133);
  border-radius: 10px;
}

.font {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.font1 {
  margin-right: 10px;
}

.procedimientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.videotoscopia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  background-color: gray;
  border-radius: 55px;
}

.lavado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  background-color: gray;
  border-radius: 55px;
}

.audiometria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  background-color: gray;
  border-radius: 55px;
}

.texteproceso {
  padding: 30px;
}

.modelo {
  font-size: 2rem;
}

h2 {
  background-color: rgb(10, 10, 100);
  border: solid 1px black;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

h2:hover {
  background-color: rgb(226, 10, 46);
  transition: 2s ease-out;
}

@media (max-width: 576px) {
  .container {
    display: grid;
    height: 800px;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: "nav" "section" "seccion-principal" "pie-de-pagina";
  }
  .checkbox .icons {
    width: 24px;
    height: 24px;
    margin-left: 50px;
    color: black;
    cursor: pointer;
  }
  .checkbox {
    opacity: 0;
    margin-left: 50px;
  }
  .fa-bars {
    color: white;
  }
  .checkbox:checked ~ .fa-bars {
    display: block;
  }
  .checkbox:checked ~ .list {
    display: block;
  }
  .icons {
    font-size: 24px;
    pointer-events: none;
  }
  .list {
    width: 240px;
    top: 100px;
    right: 0px;
    position: absolute;
    display: none;
  }
  .list li {
    list-style: none;
  }
  .list li a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(24, 98, 182);
    display: block;
    padding: 20px 12px;
  }
  .list li a:hover {
    background-color: rgb(72, 88, 180);
  }
  header {
    padding: 30px;
    grid-area: nav;
    height: 200px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 98, 182);
    position: relative;
  }
  .nav1 {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
  .p1 {
    padding: 5px 0 0 20px;
  }
  .datos {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    grid-area: section;
  }
  .img-fono {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    grid-area: seccion-principal;
  }
  footer {
    padding: 30px;
    background-color: rgb(15, 34, 204);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid black;
    grid-area: pie-de-pagina;
    padding-top: 20px;
    gap: 10px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr;
    height: 700px;
    grid-template-areas: "nav nav" "section seccion-principal" "pie-de-pagina pie-de-pagina";
  }
  .checkbox {
    display: none;
    color: rgb(24, 98, 182);
  }
  .fa-bars {
    display: none;
    color: rgb(24, 98, 182);
  }
  .nav1 {
    display: flex;
    padding: 15px;
  }
  .list {
    display: flex;
  }
  .p1 {
    padding: 14px 0 0 30px;
  }
  .list li {
    list-style: none;
  }
  .list li a {
    text-decoration: none;
    color: white;
    background-color: rgb(24, 98, 182);
    display: block;
    padding: 14px 12px;
  }
  .list li a:hover {
    background-color: rgb(72, 88, 180);
  }
  header {
    padding: 40px;
    grid-area: nav;
    height: 280px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 98, 182);
  }
  .main {
    display: flex;
  }
  .datos {
    padding: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: section;
  }
  .precio {
    text-align: center;
  }
  .img-fono {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    grid-area: seccion-principal;
  }
  footer {
    padding: 30px;
    background-color: rgb(15, 34, 204);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
    border: 1px solid black;
    grid-area: pie-de-pagina;
  }
}
@media (min-width: 768px) {
  .container {
    display: grid;
    height: 1000px;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "nav section" "nav seccion-principal" "pie-de-pagina seccion-principal";
  }
  .minicontainernav {
    display: flex;
  }
  .checkbox {
    display: none;
    color: rgb(24, 98, 182);
  }
  .fa-bars {
    display: none;
    color: rgb(24, 98, 182);
  }
  header {
    padding: 30px;
    grid-area: nav;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(24, 98, 182);
  }
  .nav1 {
    padding: 15px 0 0 5px;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .p1 {
    padding: 14px 0 0 30px;
  }
  .list li {
    list-style: none;
  }
  .list li a {
    text-decoration: none;
    color: white;
    background-color: rgb(24, 98, 182);
    display: block;
    padding: 14px 12px;
  }
  .list li a:hover {
    background-color: rgb(72, 88, 180);
  }
  .datos {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    grid-area: section;
  }
  .img-fono {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    grid-area: seccion-principal;
  }
  footer {
    padding: 30px;
    border: 1px solid black;
    background-color: rgb(15, 34, 204);
    text-align: center;
    color: rgb(255, 255, 255);
    grid-area: pie-de-pagina;
    padding-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */